
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #8c4821;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo{
    color: #fff;
    position: relative;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 40px 20px;
}


.menu-icon{
    color: #fff;
    display: none;
    font-size: 30px;
    cursor: pointer;
}

nav ul li a:hover{
    color: #8B4513;
    border-radius: 3px;
    background-color: #fff;
    padding: 40px 20px;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width:1200px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #8c4821;
        flex-direction: column;
        gap: 0px;
        text-align: center;
        overflow: hidden;
    }
    nav ul li a{
    padding: 10px 20px;
    }

    nav ul li a:hover{
    padding: 10px 20px;

    }

    nav ul li{
        padding: 20px;
    }

    .menu-icon{
        display: block;
    }

    #menuList{
        transition: all 0.5s;
    }
}

main {
    padding: 20px;
}


.btn-commande,
.btn-menu,
.btn-info {
    background-color: #8B4513;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}


@media screen and (max-width:600px) {
    .section-accueil .btnAndLink .btn-commande{
        margin-bottom: 15px;
    }
}

.btn-commande:hover,
.btn-menu:hover,
.btn-info:hover {
    background-color: #703B1D;
    color: #ffffff;
}

.section-accueil {
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
}

.section-accueil .btnAndLink{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.section-accueil h2{
    margin: 25px;
}

.section-accueil > p{
    margin-bottom: 20px;
}

.section-apropos{
    background-color: #8B4513;
    padding: 40px;
    border-radius: 10px;
    color: white;
    font-size: 19px;
}

.section-apropos,
.section-produits,
.section-temoignages,
.section-contact {
    margin-top: 50px;
}



.section-contact{
    background-color: #8B4513;
    padding: 40px;
    border-radius: 10px;
    color: white;
    font-size: 19px;
}

form input[type="text"], input[type="email"],input[type="submit"]{

    margin: 10px;
}

form button{
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
}

form button:hover{
    background-color: #703B1D;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#nom, #email,#message{
    border-radius: 5px;
    border: none;
    padding: 7px;
}

.section-temoignages{
    background-color: #8B4513;
    padding: 40px;
    border-radius: 10px;
    color: white;
    font-size: 19px;
}


.produit{
    width: 100%;
}
.image-style{
    display:  flex;
    background-color: #8B4513;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.imageA{
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 318px;
    border-radius: 20px;
    padding: 10px;
}

.image1-infos,
.image2-infos,
.image3-infos {
    background-color: #fff;

    border-radius: 10px;
    margin-bottom:20px ;

}



.image1-infos h3,
.image2-infos h3,
.image3-infos h3{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.image1-infos .btnPanier,
.image2-infos .btnPanier,
.image3-infos .btnPanier{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.image1-infos .btnPanier > button,
.image2-infos .btnPanier > button,
.image3-infos .btnPanier > button{
    padding: 10px 70px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: #8B4513;
    border: none;
    color: #fff;
    cursor: pointer;
}

.image1-infos .btnPanier > button:hover,
.image2-infos .btnPanier > button:hover,
.image3-infos .btnPanier > button:hover{
    background-color: #703B1D;
    color: #ffffff;
    cursor: pointer;
}

.service .service-title{
    margin-top: 40px;
    margin-bottom: 20px;
}

.service-description{
    margin-bottom: 10px;
}

.temoinage {
    margin-bottom: 20px;
}

footer {
    background-color: #8B4513;
    text-align: center;
    padding: 20px 0;
}


footer p {
    display: flex;
    justify-content: center;
    color: #fff;
}

