*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #efe7e5;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #000;
}
.logo{
    color: #fff;
    position: relative;
}

.logo span{
    position: absolute;
    top: -5px;
    right: 95px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

.menu-icon{
    color: #fff;
    display: none;
    font-size: 30px;
}

@media screen and (max-width:600px) {

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0px;
        text-align: center;
        overflow: hidden;
        background: black;

    }

    nav ul li{
        padding: 20px;
    }

    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}



